body{
    margin: 0%;
    font-family: 'Poppins',sans-serif;
}

.header{
    background-color: #6CBBA8;
    height: 100px;
    width: auto;
}

.header .logo{
    width: 217px;
    height: 75px;
    margin-top: 15px;
    margin-left: 30px;
}

.nav-bar{
    background-color: #6CBBA8;
    height: 50px;
    padding-top: 5px;
}

.nav-bar  table th{
    border: 1px solid black;
    border-style: hidden solid;
}

.nav-bar table th a{
    
    padding: 0px 20px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.nav-bar table{
    padding: 100px;
    border-collapse: collapse;
    margin-left: 40px;
    align-items: center;
}

.button-regis-login{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 20px;
}
 
.button-regis-login1{
    background-color: #00F0FF;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.button-regis-login1 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.content-1 {
    background-image: url(../asset/Conten1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    margin: 0%;
}

.text-c1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 13%;
    
}

.text-c1 h1{
    margin: 0%;
}

.strok{
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    -webkit-text-stroke: 0.05em #000;
}
.search-container {
    border-radius: 30px;
    height: 50px;
    width: 300px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: 750px;
    margin-top: 30px;
    fill-opacity: 50%;
}

.search-container input[type=text] {
    margin-left: 0px;
    padding: 6px;
    padding-left: 25px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    background-color: #ECE8E8;
    opacity: 100%;
}

.search-container .icon-search {
    border-radius: 30px;
    border-style: hidden;
    background-color: transparent;
}

footer p{
    font-size:16px; 
    color:black;
    margin-bottom:8px;
    font-weight: 300;
}
.social_footer_ul{ 
    display:flex;
    flex-direction: row;
    margin:15px auto 0 auto;
    list-style-type:none;
    justify-content: space-between;
}
.social_footer_ul li{
    padding-top:15px;
    padding-bottom:15px;
 }
.social_footer_ul li a{
    color:black;
    border:2px solid black;
    padding:8px;
    border-radius:50%;
}
.social_footer_ul li i{
    width:20px;
    height:20px;
    text-align:center;
}
.footer {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color:#6CBBA8;
}