body{
    margin: 0%;
    font-family: 'Poppins',sans-serif;
    background-image: url("../asset/Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 360px;
    padding-top: 50px;
    padding-left: 740px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 775px;
}

input[type=text], input[type=password], input[type=email] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    width: 400px;
    border-radius: 30px;
}

.bottomText {
    padding-top: 5px;
}

p {
    text-align: center;
    font-size: 16px;
}

.lastItem {
    padding-top: 10px;
}

.links {
    color: black;
}